body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #C2EDCE;
  }
  
  .container {
    margin: auto;
    width: 60%;
  }
  
  img {
    display: inline-block;
  }
  
  .caption {
    display: block;
    text-align: center;
  }
  
  .garments {
    display: flex;
    flex-wrap: wrap;
  }
  
  .garment {
    flex: 1;
    background-color: #F6F6F2;
    border: 2px solid #388087;
    padding: 1em;
    margin: 0.25em;
    border-radius: 0.5em;
  }
  
  .hidden {
    display: none;
  }
  
  .loginError {
    color: red;
    font-weight: bold;
    font-size: 22px;
    margin-top: 3px;
    margin-bottom: 1px;
  }
  
  .getToken {
    background-color: green;
    color: white;
    padding: 8px 10px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 1vh;
  }
  
  .displayToken {
    margin-top: 5vh;
  }
  
  .loginBtn {
    background-color: #17252A;
    color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
  }
  
  .username {
    height: 30px;
    width: 30vh;
    text-align: center;
  }
  
  
  .field label {
    display: block;
    width: 5em;
    margin-top: 0.5em;
  }
  
  .mt1 {
    margin-top: 1em;
  }
  
  .message {
    margin-top: 1em;
    padding: 1em;
    background-color: #6FB3B8;
  }
  
  a:link,
  a:visited {
    background-color: #17252A;
    color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
  }
  
  a:hover,
  a:active {
    background-color: #17252A;
  }
  
  .addGarmentBtn {
    /* background-color: #BADFE7; */
    background-color: #17252A;
    color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
  }
  
  .hideAddGarmetBtn {
    /* background-color: #BADFE7; */
    background-color: #17252A;
    color: white;
    padding: 9px 15px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 5vh;
  }
  
  #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
  
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
  
    to {
      bottom: 30px;
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
  
    to {
      bottom: 0;
      opacity: 0;
    }
  }
  
  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
  
    to {
      bottom: 0;
      opacity: 0;
    }
  }