body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: #8CBDB9;

}

.login {
  text-align: center;
}

h1 {
  text-shadow: 2px 2px 5px white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: oblique;
}

.myH {
  padding-top: 5vh;
  padding-bottom: 2vh;
  padding-left: 3rem;
}

.container {
  margin: auto;
  width: 60%;
}
.missyTeeApp {
  text-align: center;
}
.filter{
  border-radius: 12px;
  border: 2px solid #2D3E4E;
  background-color: #F6F6F2;
  padding-bottom: 2em;
  padding-top: 1em;
  margin-top: 1em;
}
img {
  display: inline-block;
}

.caption {
  display: block;
  text-align: center;
}

.garments {
  display: flex;
  flex-wrap: wrap;
}

.garment {
  flex: 1;
  background-color: #F6F6F2;
  border: 2px solid #2D3E4E;
  padding: 1em;
  margin: 0.25em;
  border-radius: 0.5em;
}

.hidden {
  display: none;
}

.loginError {
  color: red;
  font-weight: bold;
  font-size: 22px;
  margin-top: 1em;
  margin-bottom: 1px;
}

.getToken {
  background-color: green;
  color: white;
  padding: 8px 10px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 1vh;
}

.displayToken {
  margin-top: 5vh;
}

.loginBtn {
  background-color: #17252A;
  border-radius: 12px;
  color: white;
  padding: 9px 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5vh;
}

.username {
  height: 30px;
  width: 30vh;
  text-align: center;
  border: 2px solid #2D3E4E;
}


.field label {
  display: block;
  width: 5em;
  margin-top: 0.5em;
}

.mt1 {
  margin-top: 1em;
}

.message {
  margin-top: 1em;
  padding: 1em;
  background-color: #6FB3B8;
}

a:hover,
a:active {
  background-color: #17252A;
}
input{
  border: 1px solid blue;
}
.addGarmentBtn {
  background-color: #17252A;
  border-radius: 12px;
  border-radius: 12px;
  color: white;
  padding: 9px 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5vh;
}

.hideAddGarmetBtn {
  background-color: #17252A;
  border-radius: 12px;
  color: white;
  padding: 9px 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5vh;
}

.addGarmentTabBtn {
  background-color: #17252A;
  border-radius: 12px;
  color: white;
  padding: 9px 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5vh;
  margin-bottom: 3em;
}
.logoutBtn {
  background-color: #17252A;
  border-radius: 12px;
  color: white;
  padding: 9px 15px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 5vh;
}
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}